<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-heading">{{ isNew ? 'Create New Event' : 'Update Event' }}</h2>
        <form (submit)="onSubmit()" #eventForm="ngForm">
          <div class="form-row">
            <div class="input-data">
              <input type="text" id="title" name="title" [(ngModel)]="eventData.title" required>
              <div class="underline"></div>
              <label for="email">Event Name</label>
            </div>
          </div>

          <div class="form-row">
            <div class="input-data">
              <input type="text" id="description" name="description" [(ngModel)]="eventData.description" required>
              <div class="underline"></div>
              <label for="description">Event Description</label>  
            </div>
          </div>

          <div class="form-row">
            <label for="date">Start Date</label>
            <input type="date" name="startdate" class="form-control" [(ngModel)]="eventData.startdate" required>
          </div>

          <div class="form-row">
            <label for="date">End Date</label>
            <input type="date" name="enddate" class="form-control" [(ngModel)]="eventData.enddate" required>
          </div>

          <div class="form-row">
            <label for="time">Start Time</label>
            <input type="time" name="starttime" class="form-control" [(ngModel)]="eventData.starttime" required>
          </div>

          <div class="form-row">
            <label for="time">End Time</label>
            <input type="time" name="endtime" class="form-control" [(ngModel)]="eventData.endtime" required>
          </div>

          <div class="form-row">
            <div class="input-data">
                <select name="event_type_id" [(ngModel)]="eventData.location" required>
                    <option value="" disabled selected>Select Location Type</option>
                    <option value="0">Indoor</option>
                    <option value="1">Outdoor</option>
                    <option value="2">Virtual</option>
                </select>
            </div>
          </div>

          <div class="form-row">
            <div class="input-data">
                <select name="event_type_id" [(ngModel)]="eventData.eventType" required>
                    <option value="" disabled selected>Select Event Type</option>
                    <option value="educational">Educational</option>
                    <option value="party">Party</option>
                    <option value="games">Games</option>
                    <option value="meetups">Meetups</option>
                </select>
            </div>
          </div>

        <div class="form-row submit-btn">
          <div class="input-data">
              <div class="inner"></div>
              <input type="submit" value="{{ isNew ? 'Create' : 'Update' }}" [disabled]="!eventForm.form.valid">
          </div>
      </div>
        </form>
      </div>
    </div>
  </div>
  