<h1 class="text-heading">My Events</h1>
<div *ngFor="let eve of eventList;" class="row">
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">{{eve.eventName}}</h4>
        <p class="card-text">{{eve.eventDesc}}</p>
        <p class="card-text">{{eve.eventType}}</p>
        <p class="card-text">{{eve.locationType}}</p>
        <p class="card-text">{{eve.startDate}}</p>
        <p class="card-text">{{eve.endDate}}</p>
        <p class="card-text">{{eve.eventDuration}}</p>
        <p class="card-text">{{eve.eventCapacity}}</p>
        <p class="card-text">{{eve.major}}</p>
      </div>
    </div>
  </div>
</div>