<div class="row">
  <div class="col-md-12">
    <input type="text" [(ngModel)]="searchText" placeholder="Search events...">
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>All Events</h2>
        <div class="slider">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Event description</p>
              <p class="card-text">Location: </p>
              <p class="card-text">Starts at:</p>
              <p class="card-text">Ends at:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <h2>Recommended Events</h2>
        <div class="slider">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Event description</p>
              <p class="card-text">Location: </p>
              <p class="card-text">Starts at:</p>
              <p class="card-text">Ends at:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  