<div class="row">
  <div class="col-md-12">
    <input type="text" [(ngModel)]="searchText" placeholder="Search events...">
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>All Events</h2>
        <div class="slider">
          <div>
            <h3>Event title</h3>
            <p>event description</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <h2>Recommended Events</h2>
        <div class="slider">
          <div>
            <h3>Event title</h3>
            <p>event description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  