<h2>Signup</h2>
<form (submit)="onSubmit()" class="signup-form">
    <div class="form-group">
        <input type="email" placeholder="Email" name="email" [(ngModel)]="userData.email" required>
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" name="password" [(ngModel)]="userData.password" required>
    </div>
    <div class="form-group">
        <label for="degree_major_id">Degree/Major</label>
        <select name="degree_major_id" [(ngModel)]="userData.degree_major_id" required>
            <option value="" disabled selected>Select degree/major</option>
            <option value="data-science">Data Science</option>
            <option value="human-computer-interaction">Human Computer Interaction</option>
            <option value="computer-science">Computer Science</option>
            <option value="finance-and-analytics">Finance and Analytics</option>
            <option value="packaging-science">Packaging Science</option>
        </select>
    </div>
    <div class="form-group">
        <label for="event_type_id">Event Type</label>
        <select name="event_type_id" [(ngModel)]="userData.event_type_id" required>
            <option value="" disabled selected>Select event type</option>
            <option value="educational">Educational</option>
            <option value="party">Party</option>
            <option value="games">Games</option>
            <option value="meetups">Meetups</option>
        </select>
    </div>
    <button type="submit">Sign up</button>
</form>
<p *ngIf="submitted">You entered the following data: <br> Email: {{ userData.email }} <br> Password: {{ userData.password }} <br> Degree/Major ID: {{ userData.degree_major_id }} <br> Event Type ID: {{ userData.event_type_id }}</p>
